@import 'tailwindcss' source('../');

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import '~/lib/stylesheets/themes/light.css' layer(theme);
@import '~/lib/stylesheets/themes/dark.css' layer(base);

@import '~/lib/assets/fonts/Inter/font-face.css' layer(theme);
@import '~/lib/assets/fonts/RedditSans/font-face.css' layer(theme);

@import '~/lib/stylesheets/c-input.css' layer(components);
@import '~/lib/stylesheets/c-button.css' layer(components);
@import '~/lib/stylesheets/c-link.css' layer(components);
@import '~/lib/stylesheets/c-label.css' layer(components);
@import '~/lib/stylesheets/c-table.css' layer(components);
@import '~/lib/stylesheets/c-tiptap.css' layer(components);
@import '~/lib/stylesheets/c-popover.css' layer(components);
@import '~/lib/stylesheets/c-badge.css' layer(components);
@import '~/lib/stylesheets/c-icon-button.css' layer(components);
@import '~/lib/stylesheets/c-select.css' layer(components);
@import '~/lib/stylesheets/c-main.css' layer(components);

@theme {
    --font-display: InterVariable, var(--font-sans);
    --font-body: 'Reddit Sans', InterVariable, var(--font-sans);
    --text-sm: 0.9028rem;
    --text-p: 1rem;
    --text-h6: 1.125rem;
    --text-h5: 1.266rem;
    --text-h4: 1.424rem;
    --text-h3: 1.602rem;
    --text-h2: 1.802rem;
    --text-h1: 2.488rem;
    --text-title: var(--text-h5);
    --container-paragraph-sm: var(--container-sm);
    --container-paragraph-lg: var(--container-2xl);
    --radius-full: calc(infinity * 1px);

    --cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
    --cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
    --cubic-in-out: cubic-bezier(0.65, 0, 0.35, 1);

    --default-transition-timing-function: var(--cubic-out);
}

@layer base {
    :root {
        color-scheme: light dark;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        /* fix for Chrome */
        font-feature-settings:
            'liga' 1,
            'calt' 1;

        background-color: var(--color-base-1);
        color: var(--color-base-fg-2);
        font-family: var(--font-body);
        transition:
            color 100ms ease-in-out,
            background-color 100ms ease-in-out;
    }

    .prose {
        --typo-scale: 1.0625;
        --font-size-h6: calc(var(--text-p) * var(--typo-scale));
        --font-size-h5: calc(var(--text-h6) * var(--typo-scale));
        --font-size-h4: calc(var(--text-h5) * var(--typo-scale));
        --font-size-h3: calc(var(--text-h4) * var(--typo-scale));
        --font-size-h2: calc(var(--text-h3) * var(--typo-scale));
        --font-size-h1: calc(var(--text-h2) * var(--typo-scale));
        --font-size-title: var(--text-h5);
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-optical-sizing: auto;
        }
    }

    body {
        font-size: var(--text-p);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-base-fg-1);
        font-family: var(--font-display);
        font-weight: 600;
    }

    h6 {
        font-size: var(--text-h6);
    }

    h5 {
        font-size: var(--text-h5);
    }

    h4 {
        font-size: var(--text-h4);
    }

    h3 {
        font-size: var(--text-h3);
    }

    h2 {
        font-size: var(--text-h2);
    }

    h1 {
        font-size: var(--text-h1);
    }

    small {
        font-size: var(--text-sm);
    }

    .transition-enforcement {
        display: grid;
    }

    .transition-enforcement > * {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    hr {
        border-color: var(--color-base-border-3);
    }

    .scrollbar-3 {
        &::-webkit-scrollbar-thumb {
            border: --spacing(0.5) solid var(--color-base-3);
        }
    }

    ::-webkit-scrollbar {
        width: --spacing(2);
        height: --spacing(2);
    }

    ::-webkit-scrollbar-thumb {
        border: --spacing(0.5) solid var(--color-base-1);
        border-radius: var(--radius-full);
        background: color-mix(in oklch, var(--color-base-fg-2) 30%, var(--color-base-1));
    }
}

[data-sonner-toaster] {
    font-family: var(--font-body);
}
