@import '~/lib/stylesheets/themes/light.css';
@import '~/lib/stylesheets/themes/dark.css';

@import '~/lib/assets/fonts/Inter/font-face.css';
@import '~/lib/stylesheets/preflight.css';
@import 'sanitize.css/reduce-motion.css';
@import 'sanitize.css/assets.css';

@import '~/lib/stylesheets/tw-base.css';

@import '~/lib/stylesheets/c-input.css';
@import '~/lib/stylesheets/c-button.css';
@import '~/lib/stylesheets/c-link.css';
@import '~/lib/stylesheets/c-label.css';
@import '~/lib/stylesheets/c-table.css';
@import '~/lib/stylesheets/c-tiptap.css';
@import '~/lib/stylesheets/c-popover.css';
@import '~/lib/stylesheets/c-badge.css';
@import '~/lib/stylesheets/c-icon-button.css';
@import '~/lib/stylesheets/c-select.css';

@import '~/lib/stylesheets/tw-components.css';
@import '~/lib/stylesheets/tw-utilities.css';

@layer base {
    :root {
        --cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
        --cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
        --cubic-in-out: cubic-bezier(0.65, 0, 0.35, 1);
        --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            'Helvetica Neue', sans-serif;
        --font-family-display: InterVariable, var(--font-family-base);
        --font-family-body: InterVariable, var(--font-family-base);
        --typo-scale: 1.15;
        --font-size-sm: 0.9028rem;
        --font-size-p: 1rem;
        --font-size-h6: calc(var(--font-size-p) * var(--typo-scale));
        --font-size-h5: calc(var(--font-size-h6) * var(--typo-scale));
        --font-size-h4: calc(var(--font-size-h5) * var(--typo-scale));
        --font-size-h3: calc(var(--font-size-h4) * var(--typo-scale));
        --font-size-h2: calc(var(--font-size-h3) * var(--typo-scale));
        --font-size-h1: calc(var(--font-size-h2) * var(--typo-scale));
        --font-size-title: var(--font-size-h5);

        color-scheme: light dark;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        /* fix for Chrome */
        font-feature-settings:
            'liga' 1,
            'calt' 1;

        background-color: var(--theme-base-1);
        color: var(--theme-base-fg-2);
        font-family: var(--font-family-body);
        transition:
            color 100ms ease-in-out,
            background-color 100ms ease-in-out;
    }

    .prose {
        --typo-scale: 1.0625;
        --font-size-h6: calc(var(--font-size-p) * var(--typo-scale));
        --font-size-h5: calc(var(--font-size-h6) * var(--typo-scale));
        --font-size-h4: calc(var(--font-size-h5) * var(--typo-scale));
        --font-size-h3: calc(var(--font-size-h4) * var(--typo-scale));
        --font-size-h2: calc(var(--font-size-h3) * var(--typo-scale));
        --font-size-h1: calc(var(--font-size-h2) * var(--typo-scale));
        --font-size-title: var(--font-size-h5);
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-optical-sizing: auto;
        }
    }

    body {
        font-size: var(--font-size-p);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: theme('colors.base[fg-1]');
        font-family: var(--font-family-display);
        font-weight: 600;
    }

    h6 {
        font-size: var(--font-size-h6);
    }

    h5 {
        font-size: var(--font-size-h5);
    }

    h4 {
        font-size: var(--font-size-h4);
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    h1 {
        font-size: var(--font-size-h1);
    }

    small {
        font-size: var(--font-size-sm);
    }

    .transition-enforcement {
        display: grid;
    }

    .transition-enforcement > * {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    hr {
        border-color: var(--theme-base-border-3);
    }

    .scrollbar-3 {
        &::-webkit-scrollbar-thumb {
            border: theme('width[0.5]') solid var(--theme-base-3);
        }
    }

    ::-webkit-scrollbar {
        width: theme('width[2]');
        height: theme('width[2]');
    }

    ::-webkit-scrollbar-thumb {
        border: theme('width[0.5]') solid var(--theme-base-1);
        border-radius: theme('borderRadius[full]');
        background: color-mix(in oklch, var(--theme-base-fg-2) 30%, var(--theme-base-1));
    }
}
